nav{
    background-color:rgb(68, 68, 146);
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
text-decoration: none;
color: white;
font-size: 25px;
}
a:hover{
    color: rgb(207, 207, 136);
}
.active{
    color:rgb(199, 233, 7);
}
h1{
    margin: 20px auto;
    width: 20vw;
    text-shadow: 10px;
    font-size: 50px;
    color: rgb(68, 68, 146);
}
@media screen and (max-width:468px){
    a{
        font-size:16px;
    }
}